<template name="_footer">
  <footer class="page-footer green">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h6 class="white-text"><b>Subscribe to our newsletter</b></h6>
          <p class="white-text">Deals,coupons and more!</p>
		 <span>  <input id="email" type="email" class="validate  white-text" placeholder="Email address" style="width:160px">
		  <a class="waves-effect waves-light btn-flat white-text">Subscribe</a></span>
		  </div>
		  
         

        <div class="col l6 s12">
			<a class="white-text hoverable" href="#!">Home</a> |
			<a class="white-text hoverable" href="#!">Products</a> |
			<a class="white-text hoverable" href="#!">Our Farmers</a> |
			<a class="white-text hoverable" href="#!">About Us</a> |
			<a class="white-text hoverable" href="#!">Contact Us</a> |
			<a class="white-text hoverable" href="#!">FAQ</a>
			 <br><p class="white-text">SARNIA FARMERS MARKET LOCATION</p>
			<img src="">
       
        </div>
     </div>
   </div>

    <div class="footer-copyright">
      <div class="container">
	     <div class="row">
			<p class="center"> &copy;2015 Goods4U </p>
      </div>
	</div>
    </div>
  </footer>
</template>
