<template name="_header">
  <nav>
    <div class="nav-wrapper green">
      <div class="container">
        <a class="brand-logo" href="{{pathFor 'home'}}">Goods4u</a>

        <ul class="right">
          <li><a class="dropdown-button" href="#!" data-activates="user-dropdown"><i class="mdi-navigation-more-vert"></i></a></li>
        </ul>

        <ul class="right hide-on-med-and-down">
			<li class="{{ isActiveRoute regex='home' }}"><a href="{{ pathFor 'home' }}" class="waves-effect waves-green">Home</a></li>
			<li class="{{ isActiveRoute regex='product' }}"><a href="{{ pathFor 'product' }}" class="waves-effect waves-green">Products</a></li>
			<li class="{{ isActiveRoute regex='ourFarmer' }}"><a href="{{ pathFor 'ourFarmer' }}" class="waves-effect waves-green">Our Farmers</a></li>
			<li><a class='dropdown-button waves-effect waves-green' href='#' data-activates='dropdown1'>My Account</a></li>
        </ul>

        <ul id="user-dropdown" class="dropdown-content">
          {{#if currentUser}}
            <li><a href="#" data-action="logout"><i class="mdi-action-lock"></i> Sign Out</a></li>
          {{else}}
            <li><a href="{{ pathFor 'atSignIn' }}">Sign in</a></li>
            <li><a href="{{ pathFor 'atSignUp' }}">Register</a></li>
          {{/if}}
        </ul>

        <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
      </div>
    </div>
  </nav>

  <ul id="nav-mobile" class="side-nav">
    <li class="bold {{ isActiveRoute regex='home' }}"><a href="{{ pathFor 'home' }}" title="Home"><i class="mdi-action-home"></i> Home</a></li>
    <li class="bold {{ isActiveRoute regex='dashboard' }}"><a href="{{ pathFor 'dashboard' }}" title="Dashboard"><i class="mdi-action-dashboard"></i> Dashboard</a></li>
  </ul>

</template>
