<template name="home">
  
	   <div class="slider col s12">
			<ul class="slides">
			  <li>
				<img src="/images/slide1.jpg"> <!-- random image -->
			  </li>
			  
		    <li>
				<img src="/images/slide2.jpg"> <!-- random image -->
			</li>
			<li>
				<img src="/images/slide3.jpg"> <!-- random image -->
				
			</li>
			 <li>
				<img src="/images/slide4.jpg"> <!-- random image -->
			  </li>
			</ul>
		</div> 	
	  <div class="row">
			<div class="col s12">
				<h4 class="center-align"> How it works</h4>
			</div>
	  </div>
	  <div class="row">
       <div class="col s12 m4 hoverable">
          <div class="icon-block ">
            <h2 class="center brown-text"><i class="material-icons">info_outline</i></h2>
            <h5 class="center">Join Goods4U today</h5>

            <p class="light">Sign up for free and fill your home with fresh products.ALso get benefits of deal and save your money!</p>
          </div>
        </div>

        <div class="col s12 m4 hoverable">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">shopping_basket</i></h2>
            <h5 class="center">Fill up your bag with freshness</h5>

            <p class="light">Customize your basket with seasonal and other products.<br> <b>You can also order in bulk</b><br></p>
          </div>
        </div>

        <div class="col s12 m4 hoverable">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">today</i></h2>
            <h5 class="center">Choose pickup or delivery</h5>

            <p class="light">You can choose option to pickup your order or can select delivery date and time slot we'll get you deliverd</p>
          </div>
        </div>
	  </div>
	
		 <div class="row">
			<div class="col s12">
				<h4 class="center-align"> Featured Products</h4>
			</div>
	  </div>
	  
	  <div class="row">
			<div class="col s12 m3">
				<div class="card hoverable">
						<div class="card-image waves-effect waves-block waves-light">
						  <img class="activator" src="/images/product1.jpg">
						</div>
						<div class="card-content">
						  <span class="card-title activator grey-text text-darken-4">Fresh Carrots</span>
						  <p>$1.49 /lb</p>
						</div>
						<div class="card-reveal">
						  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
						  <p>Here is some more information about this product that is only revealed once clicked on.</p>
						</div>
				</div>
			</div>
			
			<div class="col s12 m3">
				<div class="card hoverable">
						<div class="card-image waves-effect waves-block waves-light">
						  <img class="activator" src="/images/product2.jpg">
						</div>
						<div class="card-content">
						  <span class="card-title activator grey-text text-darken-4">Pineapple</span>
						  <p>$2.00</p>
						</div>
						<div class="card-reveal">
						  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
						  <p>Here is some more information about this product that is only revealed once clicked on.</p>
						</div>
				</div>
			</div>
			
			<div class="col s12 m3">
				<div class="card hoverable">
						<div class="card-image waves-effect waves-block waves-light">
						  <img class="activator" src="/images/product3.jpg">
						</div>
						<div class="card-content">
						  <span class="card-title activator grey-text text-darken-4">Green Peppers</span>
						  <p>$1.99 lb</p>
						</div>
						<div class="card-reveal">
						  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
						  <p>Here is some more information about this product that is only revealed once clicked on.</p>
						</div>
				</div>
			</div>
			
			<div class="col s12 m3">
				<div class="card hoverable">
						<div class="card-image waves-effect waves-block waves-light">
						  <img class="activator" src="/images/product4.jpg">
						</div>
						<div class="card-content">
						  <span class="card-title activator grey-text text-darken-4">Fresh Apple</span>
						  <p>$2.49 lb</p>
						</div>
						<div class="card-reveal">
						  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
						  <p>Here is some more information about this product that is only revealed once clicked on.</p>
						</div>
				</div>
			</div>		
	  </div>
	
</template>
