<template name="product">
	<div class="row">
		<form class="col xs12">
		  <div class="row">
			<div class="input-field col xs12">
			  <i class="material-icons prefix">search</i>
			  <input id="search" placeholder="Search for something..." type="text" class="validate" required>
			  			  

			</div>
		  </div>
		</form>
		<div class="col xs12 m3">
			  <ul class="collapsible" data-collapsible="expandable">
				<li>
				  <div class="collapsible-header active"><i class="material-icons">view_list</i>Category</div>
				  <div class="collapsible-body">
					<p>
						<a href="#dairy" style="display:block;">Dairy</a>
						<a href="#fruit" style="display:block;">Fruit</a>
						<a href="#meat" style="display:block;">Meat</a>
						<a href="#vege" style="display:block;">Vegetable</a>					
						<a href="#other" style="display:block;">Other</a>
					</p>
				  </div>
				</li>
				<li>
				  <div class="collapsible-header active"><i class="material-icons">store</i>Farm</div>
				  <div class="collapsible-body">
					  <p>						
							<input type="checkbox" id="vrolyk" checked="checked" />
							<label for="vrolyk" style="display: block;">Vrolyk Farm</label>
							<input type="checkbox" id="Ausable" checked="checked" />
							<label for="Ausable" style="display: block;">Ausable Produce</label>
							<input type="checkbox" id="Lena" checked="checked" />
							<label for="Lena" style="display: block;">Lena's Lamb</label>
							<input type="checkbox" id="Bluewater" checked="checked" />
							<label for="Bluewater" style="display: block;">Bluewater Beef</label>					  
					  </p>
				  </div>
				</li>
				<li>
				  <div class="collapsible-header active"><i class="material-icons">whatshot</i>Food Produce</div>
				  <div class="collapsible-body"><p>
					<input type="checkbox" id="organic" checked="checked" />
					<label for="organic" style="display: block;">Organic</label>
					<input type="checkbox" id="non-organic" checked="checked" />
					<label for="non-organic" style="display: block;">Non-Organic</label>
				  </p></div>
				</li>
				<li>
				  <div class="collapsible-header active"><i class="material-icons">attach_money</i>Price Range</div>
				  <div class="collapsible-body">
				  <p>
						<span class="input-field">
						<input class="validate" type="text" name="from" id="from" placeholder="From">
						</span>
						<span class="input-field">
						<input class="validate" type="text" name="to" id="to" placeholder="To">
						</span>					
				  </p>			
<p class="center" style="padding: none;"><a class="waves-effect waves-light btn">Filter</a></p>				  
				</div>
				</li>
			  </ul>
		</div>
		<div class="col m9">
        <div class="col xs12 s6 m4">
          <div class="card">
            <div class="card-image">
			  <a class="btn-floating btn-large pink" style="top:20px; left:20px; position: absolute;">$2.99</a>
              <img class="responsive-img" src="images/product33.jpg">
            </div>
            <div class="card-content">
              <p>Fresh green pepper</p>
			 
            </div>
            <div class="card-action">
              <a href="#">Add to cart</a>
            </div>
          </div>
        </div>
		
		<div class="col xs12 s6 m4">
          <div class="card">
            <div class="card-image">
			  <a class="btn-floating btn-large pink" style="top:20px; left:20px; position: absolute;">$2.99</a>
              <img class="responsive-img" src="images/product34.jpg">
            </div>
            <div class="card-content">
              <p>Grapes</p>
			 
            </div>
            <div class="card-action">
              <a href="#">Add to cart</a>
            </div>
          </div>
        </div>
		
		<div class="col xs12 s6 m4">
          <div class="card">
            <div class="card-image">
			  <a class="btn-floating btn-large pink" style="top:20px; left:20px; position: absolute;">$2.99</a>
              <img class="responsive-img" src="images/product31.jpg">
            </div>
            <div class="card-content">
              <p>Carrots</p>
			 
            </div>
            <div class="card-action">
              <a href="#">Add to cart</a>
            </div>
          </div>
        </div>
		
		<div class="col xs12 s6 m4">
          <div class="card">
            <div class="card-image">
			  <a class="btn-floating btn-large pink" style="top:20px; left:20px; position: absolute;">$2.99</a>
              <img class="responsive-img" src="images/product32.jpg">
            </div>
            <div class="card-content">
              <p>Pineapple</p>
			 
            </div>
            <div class="card-action">
              <a href="#">Add to cart</a>
            </div>
          </div>
        </div>
		
		<div class="col xs12 s6 m4">
          <div class="card">
            <div class="card-image">
			  <a class="btn-floating btn-large pink" style="top:20px; left:20px; position: absolute;">$2.99</a>
              <img class="responsive-img" src="images/product34.jpg">
            </div>
            <div class="card-content">
              <p> Grapes </p>
			 
            </div>
            <div class="card-action">
              <a href="#">Add to cart</a>
            </div>
          </div>
        </div>
		
		<div class="col xs12 s6 m4">
          <div class="card">
            <div class="card-image">
			  <a class="btn-floating btn-large pink" style="top:20px; left:20px; position: absolute;">$2.99</a>
              <img class="responsive-img" src="images/product33.jpg">
            </div>
            <div class="card-content">
              <p>Fresh green pepper</p>
			 
            </div>
            <div class="card-action">
              <a href="#">Add to cart</a>
            </div>
          </div>
        </div>
		
		<div class="col xs12 s6 m4">
          <div class="card">
            <div class="card-image">
			  <a class="btn-floating btn-large pink" style="top:20px; left:20px; position: absolute;">$2.99</a>
              <img class="responsive-img" src="images/product32.jpg">
            </div>
            <div class="card-content">
              <p>Pineapple</p>
			 
            </div>
            <div class="card-action">
              <a href="#">Add to cart</a>
            </div>
          </div>
        </div>
		
		<div class="col xs12 s6 m4">
          <div class="card">
            <div class="card-image">
			  <a class="btn-floating btn-large pink" style="top:20px; left:20px; position: absolute;">$2.99</a>
              <img class="responsive-img" src="images/product31.jpg">
            </div>
            <div class="card-content">
              <p>Carrots</p>
			 
            </div>
            <div class="card-action">
              <a href="#">Add to cart</a>
            </div>
          </div>
        </div>
		</div>
      </div>

</template>